<div class="container">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="email" class="form-control" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitData()">Submit</button>
  </form>
</div>
