<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 (click)="loginClicked()" [ngClass]="in"> Sign In </h2>
        <h2 (click)="signupClicked()" [ngClass]="out">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../../assets/LogoMakr_8vQaxi.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form *ngIf="showLogin" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
            <input formControlName="email" type="text" class="fadeIn second" placeholder="email">
            <input formControlName="password" type="password" class="fadeIn third" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Sign up Form -->
        <form *ngIf="!showLogin" [formGroup]="signupForm" (ngSubmit)="signupSubmitted()">
            <input formControlName="name" type="text" class="fadeIn second" placeholder="name">
            <input formControlName="email" type="text" class="fadeIn second" placeholder="email">
            <input formControlName="password" type="password" class="fadeIn third" placeholder="password">
            <input formControlName="confirmPassword" type="password" class="fadeIn third" placeholder="reenter">
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>